<div class="main-body">
  <div class="row gutters-sm">
    <div class="col-md-4 mb-3">
      <div class="card">
        <app-user-profile> </app-user-profile>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card mb-3">
        <div>
          <div>
            <div class="card h-100">
              <div class="card-body">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <!-- Form START -->
                      <form
                        #editProfileForm="ngForm"
                        class="file-upload"
                        (ngSubmit)="submitProfileChanges()"
                      >
                        <div class="row mb-5 gx-5">
                          <!-- Contact detail -->
                          <div>
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                              <div class="row g-3">
                                <h4 class="mb-4 mt-0">Contact detail</h4>
                                <!-- First Name -->
                                <div class="col-md-6">
                                  <label class="form-label">Model *</label>
                                  <input
                                    required
                                    type="text"
                                    class="form-control"
                                    placeholder=""
                                    aria-label="First name"
                                    [(ngModel)]="car.model"
                                    name="name"
                                  />
                                </div>
                                <!-- Last name -->
                                <div class="col-md-6 form-group">
                                  <label class="form-label"
                                    >Number of seats *</label
                                  >
                                  <input
                                    required
                                    min="2"
                                    max="10"
                                    type="number"
                                    class="form-control"
                                    placeholder=""
                                    aria-label="Last name"
                                    [(ngModel)]="car.numberOfSeats"
                                    name="surname"
                                  />
                                </div>
                                <!-- \AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA -->
                                <div class="col-md-6">
                                  <label class="form-label">Allowes *</label>
                                  <div class="form-check form-switch">
                                    <input
                                      [(ngModel)]="car.allowsBaby"
                                      class="form-check-input"
                                      type="checkbox"
                                      id="flexSwitchCheckDefault"
                                      value="{{ car.allowsBaby }}"
                                      name="babies"
                                    />
                                    <label
                                      class="form-check-label"
                                      for="flexSwitchCheckDefault"
                                      >Allowes Babies</label
                                    >
                                  </div>
                                  <div class="form-check form-switch">
                                    <input
                                      [(ngModel)]="car.allowsPet"
                                      class="form-check-input"
                                      type="checkbox"
                                      id="flexSwitchCheckChecked"
                                      value="{{ car.allowsPet }}"
                                      name="pets"
                                    />
                                    <label
                                      class="form-check-label"
                                      for="flexSwitchCheckChecked"
                                      >Allowes pets</label
                                    >
                                  </div>
                                </div>
                                <!-- Last name -->
                                <div class="col-md-6 form-group">
                                  <label class="form-label">Type*</label>
                                  <div class="row g-3">
                                    <div class="form-check">
                                      <input
                                        [(ngModel)]="car.type"
                                        class="form-check-input"
                                        type="radio"
                                        name="Regular"
                                        id="flexRadioDefault1"
                                        value="REGULAR"
                                        checked
                                      />
                                      <label
                                        class="form-check-label"
                                        for="flexRadioDefault1"
                                      >
                                        Regular
                                      </label>
                                    </div>
                                    <div class="form-check">
                                      <input
                                        [(ngModel)]="car.type"
                                        class="form-check-input"
                                        type="radio"
                                        name="premiun"
                                        id="flexRadioDefault2"
                                        value="PREMIUM"
                                        checked
                                      />
                                      <label
                                        class="form-check-label"
                                        for="flexRadioDefault2"
                                      >
                                        Premium
                                      </label>
                                    </div>
                                    <div class="form-check">
                                      <input
                                        [(ngModel)]="car.type"
                                        class="form-check-input"
                                        type="radio"
                                        name="UltraPremium"
                                        id="flexRadioDefault2"
                                        value="ULTRA_PREMIUM"
                                      />
                                      <label
                                        class="form-check-label"
                                        for="flexRadioDefault2"
                                      >
                                        Ultra Premium
                                      </label>
                                    </div>
                                  </div>
                                </div>

                                <!-- Phone number -->
                                <!-- City -->
                              </div>
                              <!-- Row END -->
                            </div>
                          </div>
                        </div>
                        <div
                          class="gap-3 d-md-flex justify-content text-center"
                        >
                          <button
                            type="button"
                            class="btn btn-danger-soft btn-lg"
                            (click)="back()"
                          >
                            Cancel
                          </button>
                          <button type="submit" class="btn btn-primary btn-lg">
                            Update profile
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
