.map-container {
  height: 90vh;
  padding: 1vh;
  margin: 1vh;
}

.map {
  height: 90vh;
}

.button {
  margin: 5px;
  width: 100%;
}

.margin-text {
  padding: 5px;
}
.scrollable {
  overflow: auto;
  height: 90vh;
}
