<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <app-user-profile> </app-user-profile>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div>
            <div>
              <div class="card h-100">
                <div class="card-body">
                  <app-edit-client-profile></app-edit-client-profile>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
