<form #searchForm="ngForm" class="search">
  <input
    type="text"
    placeholder="Start..."
    [(ngModel)]="start"
    id="start"
    name="start"
    class="form-control control"
    list="startDatalist"
    (keyup)="trottleAutocomplete(start, 'start', 300)"
  />
  <datalist id="startDatalist" *ngFor="let result of resultsForStart">
    <option [value]="result.name">
      {{ result.name }}
    </option>
  </datalist>
  <input
    type="text"
    placeholder="Destination..."
    [(ngModel)]="destination"
    id="destination"
    name="destination"
    class="form-control control"
    list="destinationDatalist"
    (keyup)="trottleAutocomplete(destination, 'destination', 300)"
  />
  <datalist
    id="destinationDatalist"
    *ngFor="let result of resultsForDestination"
  >
    <option [value]="result.name">
      {{ result.name }}
    </option>
  </datalist>

  <button class="btn btn-dark button" (click)="showResults()">Calculate</button>
</form>
