<div class="container-fluid bg-img">
  <div class="card su">
    <div class="card-header su-header">
      <ul class="nav nav-fill su-nav">
        <li class="nav-item">
          <a class="nav-link su-link" href="#">
            <img src="assets/earn.svg" /><br />Drive
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link su-link" href="#">
            <img src="assets/car.svg" /><br />Ride
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link su-link" href="#">
            <img src="assets/map.svg" /><br />Try the map
          </a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h1 class="su-title">Get in the driver’s seat and get paid</h1>
      <p class="card-text su-text">
        Drive on the platform with the largest network of active riders.
      </p>
      <button type="button" class="btn btn-dark btn-lg su-button">
        Sign up to drive
      </button>
    </div>
  </div>
</div>
