.su {
  width: 80rem;
  height: 40rem;
}
.su-header {
  height: 8rem;
}

.su-text {
  margin-left: 2rem;
}
.su-title {
  font-size: 50px;
  text-align: left;
  margin-left: 2rem;
  margin-right: 3rem;
  margin-top: 3rem;
  font-family: sans-serif;
  font-weight: bolder;
}
.su-button {
  vertical-align: middle;
  margin-left: 2rem;
}

.su-link {
  font-size: 15px;
  color: #5a5a5a;
  font-family: sans-serif;
  vertical-align: middle;
}

.su-nav {
  margin-top: 1rem;
}
