<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <app-user-profile> </app-user-profile>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div>
            <div>
              <div class="card h-100">
                <div class="card-body">
                  <container-element [ngSwitch]="userType">
                    <app-edit-client-profile
                      *ngSwitchCase="'CLIENT-current'"
                    ></app-edit-client-profile>
                    <app-edit-driver-profile
                      *ngSwitchCase="'DRIVER-current'"
                    ></app-edit-driver-profile>

                    <div *ngSwitchCase="'CLIENT-other'">
                      <div *ngIf="user.role === 'CLIENT'" class="row">
                        <div class="col-lg-6">
                          <div class="section-title">
                            <h2>Other client's profile</h2>
                            <p>
                              You can share your ride with odher clients.This is
                              just one of many users of our service.
                            </p>
                          </div>
                        </div>
                      </div>
                      <app-other-driver-profile
                        *ngIf="user.role === 'DRIVER'"
                        class="row"
                      ></app-other-driver-profile>
                    </div>
                    <div *ngSwitchCase="'DRIVER-other'">
                      <app-other-driver-profile
                        *ngIf="user.role === 'DRIVER'"
                        class="row"
                      ></app-other-driver-profile>
                      <div *ngSwitchCase="'CLIENT-other'">
                        <div *ngIf="user.role === 'CLIENT'" class="row">
                          <div class="col-lg-6">
                            <div class="section-title">
                              <h2>Client's profile</h2>
                              <p>
                                Here you can see personal info about our client
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <app-admin-other-user-profile *ngSwitchCase="'ADMIN-other'">
                    </app-admin-other-user-profile>
                    <h1 *ngSwitchDefault>Error</h1>
                  </container-element>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
