<section class="section services-section" id="services">
  <div class="row">
    <div class="col-lg-6">
      <div class="section-title">
        <h2>Edit your profile</h2>
        <p>Here you can change all data needed to use our services.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-4" [routerLink]="['../../edit-personal-info']">
      <div class="feature-box-1">
        <div class="icon">
          <i class="fa fa-user"></i>
        </div>
        <div class="feature-content">
          <h5>Personal info</h5>
          <p>
            Change information about yourself like name, phone number or city
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4" [routerLink]="['../../edit-picture']">
      <div class="feature-box-1">
        <div class="icon">
          <i class="fa fa-camera-retro"></i>
        </div>
        <div class="feature-content">
          <h5>Profile photo</h5>
          <p>
            post a nice picture of yourself so that other users can recognize
            you more easily
          </p>
        </div>
      </div>
    </div>

    <!-- / -->
    <div class="col-sm-6 col-lg-4" [routerLink]="['../../edit-password']">
      <div class="feature-box-1">
        <div class="icon">
          <i class="fa fa-unlock-alt"></i>
        </div>
        <div class="feature-content">
          <h5>Password</h5>
          <p>Use a strong password to increase security</p>
        </div>
      </div>
    </div>
    <!-- / -->

    <!-- feaure box -->
    <div class="col-sm-6 col-lg-4">
      <div class="feature-box-1">
        <div class="icon">
          <i class="fa fa-trash"></i>
        </div>
        <div class="feature-content">
          <h5>Delete Account</h5>
          <p>
            If you are not satisfied with this application, you can delete your
            profile from here
          </p>
        </div>
      </div>
    </div>
    <!-- / -->
  </div>
</section>
