<div class="list-group">
  <div *ngFor="let note of notes">
    <a
      class="list-group-item list-group-item-action flex-column align-items-start"
    >
      <div class="d-flex w-100 justify-content-between">
        <small></small>
      </div>
      <p class="mb-1">
        {{ note.text }}
      </p>
    </a>
  </div>
</div>

<!-- Contact detail -->

<!-- First Name -->
<div class="col-md-6">
  <label class="form-label">Add new note</label>
  <input
    required
    type="text"
    class="form-control"
    placeholder="note"
    aria-label="Note"
    name="name"
    [(ngModel)]="newNote.text"
  />
  <button (click)="addNote()" type="submit" class="btn btn-success-soft btn-lg">
    Add note
  </button>
</div>
