<div class="container map-container">
  <div class="col" [ngSwitch]="rideState">
    <button *ngSwitchCase="0" (click)="rejectRide()">Reject ride</button>
    <div class="row" *ngSwitchCase="1">
      <button (click)="rejectRide()">Reject ride</button>
      <button (click)="startRide()">Start ride</button>
    </div>
    <button *ngSwitchCase="2" (click)="rejectRide()">Abort ride</button>
    <button *ngSwitchCase="3" (click)="endRide()">End ride</button>
    <button *ngSwitchDefault>Toggle Available</button>
  </div>
  <div
    class="col-9 map"
    leaflet
    [leafletOptions]="options"
    (leafletMapReady)="initializeMap($event)"
  ></div>
</div>
{{ rideState }}
