<div class="row map-container">
  <div class="col scrollable">
    <app-map-sidebar
      (onShowResults)="refreshDirections($event)"
    ></app-map-sidebar>
    <div class="container">
      <div
        class="row dropdown button"
        *ngFor="let routes of routes; index as i"
      >
        <button
          class="btn btn-dark dropdown-toggle text-align-left"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <h5>Selected Route {{ i + 1 }}</h5>
          <small>Distance ≈{{ distanceInKm(selectedRoutes[i]) }}km</small><br />
          <small>Time ≈{{ timeInMinutesRounded(selectedRoutes[i]) }}m</small>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li *ngFor="let route of routes; index as j">
            <a class="dropdown-item" (click)="selectRoute(route, i)"
              ><h5>Route {{ j + 1 }}</h5>
              <small>Distance ≈{{ distanceInKm(route) }}km</small><br />
              <small>Time ≈{{ timeInMinutesRounded(route) }}m</small>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container" *ngIf="gotRoutes">
      <app-split-fare
        (onAdd)="addPerson($event)"
        (onRemove)="removePerson($event)"
      ></app-split-fare>
      <div class="form-floating button">
        <select
          id="selectVehicle"
          class="form-select bg-dark text-white"
          aria-label="Default select example"
          [(ngModel)]="selectedVehicleType"
        >
          <option selected value="ANY">ANY</option>
          <option value="REGULAR">REGULAR</option>
          <option value="PREMIUM">PREMIUM</option>
          <option value="ECO">ECO</option>
        </select>
        <label for="selectVehicle" class="text-white">Vehicle type</label>
      </div>
      <div class="form-floating button">
        <input
          id="time"
          class="form-control control"
          aria-label="Default select example"
          type="datetime-local"
          [(ngModel)]="time"
          [min]="minTime"
          [max]="maxTime"
          (ngModelChange)="limitTime()"
        />
        <label for="time" class="text-white">Time</label>
      </div>

      <div class="row button">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="hasBaby"
          />
          <label class="form-check-label">Baby</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="hasPet"
          />
          <label class="form-check-label">Pet</label>
        </div>
      </div>
      <div class="row button">
        <button class="btn btn-dark" (click)="openPreview()">Preview</button>
      </div>
    </div>
  </div>
  <div
    class="col-9 map"
    leaflet
    [leafletOptions]="options"
    (leafletMapReady)="initializeMap($event)"
  ></div>
</div>
