.button {
  margin: 5px;
  width: 100%;
}
.control {
  border-color: black;
}

.plus-button {
  margin-top: 5px;
}

.padding-left {
  padding-left: 5px;
}

.padding-left-more {
  padding-left: 17px;
}

.padding-top {
  padding-top: 5px;
}

.padding-top-bottom {
  padding-top: 5px;
  padding-bottom: 5px;
}
