.section {
  padding: 100px 0;
  position: relative;
}
.section-title {
  padding-bottom: 45px;
}
.section-title h2 {
  font-weight: 700;
  color: #000000;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid #a74141;
  padding-left: 15px;
}
