<div id="signup-modal">
  <form>
    <h1>Sign In</h1>
    <p>Sign In with your email address or social media account:</p>
    <div class="form-group">
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        placeholder="Email"
        [(ngModel)]="email"
      />
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        placeholder="Password"
        [(ngModel)]="password"
      />
    </div>
    <button
      (click)="login()"
      type="submit"
      class="btn btn-dark btn-lg su-button"
    >
      Sign In
    </button>
    <br>
    <a href="forgot-password">Forgot password?</a>
    <hr />
    <div class="row">
      <a (click)="facebookLogin()" class="col-6 text-center"
        ><i class="fa fa-facebook fa-4x"></i
      ></a>
      <a (click)="googleLogin()" class="col-6 text-center"
        ><i class="fa fa-google fa-4x"></i
      ></a>
    </div>
  </form>
</div>
